<div id="mainContainer">
    <div id="ajaxLoaderContainer" ng-if="vm.showSpinner">
        <img src="https://cdn.dribbble.com/users/406059/screenshots/1430999/dribbble_orange.gif" class="ajaxLoader"/>
    </div>
    <div id="title">
        <p id="text">VIDEO FEED</p>
        <select ng-model="vm.ddlSelectedVideoType" 
            ng-options="selected as selected.Name for selected in vm.arrList track by selected.Name"
            ng-change="vm.getSelectedValue()">
        </select>
    </div>
    <div id="content">
        <div ng-if="vm.isDataAvailable">
            <video-player list="vm.dataList"></video-player>
        </div>
    </div>
</div>
