<div ng-repeat="item in vm.list track by $index">
    <div class="videoContainer">
        <div ng-if="vm.isValidJson(item)">
            <div class="videoHeader">
                <div class="title">{{item.title}}</div>
                <div class="views">{{item.views}}</div>
            </div>

            <div ng-if="item.source === 'facebook'">
                <facebook-component url="item.videoId"></facebook-component>
            </div>

            <div ng-if="item.source === 'youtube'">
                <youtube-component url="item.videoId"></youtube-component>
            </div>
            
            <div ng-if="item.source === 'url'">
                <basic-video-component url="item.url"></basic-video-component>
            </div>
        </div>
        <div ng-if="!vm.isValid">
            <div class="videoHeader">
                <div class="errorMsg">{{vm.errorMsg}}</div>
            </div>
        </div>

    </div>
</div>